
*{
    margin:0%;
    padding:0.2%;
    background-color:#000000;
    font-family: 'Times New Roman', Times, serif;
}
.hii{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #f4ed1b;
}
.para{
    color: #ffffff;
}
.lis{
    color: #ffffff;
}
.col-lg-4 {
    color: #f4ed1b;
}
.foot{
    color: #f8f6c4;
}

.im{
    text-align: center;
 
}
.nav{
    background-color:#000000;
}
.navbar_navbar-dark_bg-dark_navbar-fixed-top{
    background-color:#000000;
 
}
body{
    background: #000;
}
footer{
    margin-top: auto;
}